<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhamster.mapper.OrgUserRoleRelMapper">

    <select id="list" resultType="java.util.Map">
        SELECT *
        FROM `org_user_role_rel`
        INNER JOIN `org_user`
        ON `rel_user_id` = `user_id`
        <where>
            `rel_role_id` in (3, 4)
            <if test="name != null and name !=''">
                and `user_username` like concat('%',#{name},'%')
            </if>
        </where>
        ORDER BY `rel_role_id` DESC
    </select>
</mapper>
